@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
  background: url(./backgroundImage.png) repeat fixed;
  color: white;
  width: 100%;

}
/* 
.newClass{
   animation: fadeIn 2s;
   
} */
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.skeleton {
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 2px;
  display: block;
  line-height: 1;
  width: 100%;
  animation: skeleton 500ms ease-in-out infinite;

  @keyframes skeleton {
      0% {
          background-position: -200px 0;
      }

      100% {
          background-position: calc(200px + 100%) 0;
      }
  }
}
.textContent{
    display: flex;
    color: white;
    justify-content: center;
    padding-bottom: 2%;
    font-size: 15pt;
   
}
.sideBorder{
    border-right: 3px solid #ffffff;
    padding-right: 5px;
    padding-bottom: 0%;
    padding-top: 0%;
    margin: 0%;
    
    
}

.TFtable td {
	font-weight: 200;
}

.product{
    display: flex;
    flex-direction: row-reverse;
   /* align-items: center;
   justify-content: center; */
   /* min-width: 70%; */
    justify-content: space-evenly;
    margin: 0 3rem;
}

.supra{
    display:flex;
    flex-direction: column;
    max-width:50vw;
    min-width: 40vw;
    text-align: left;
    margin-left:-8rem;

}

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

.footerContent{
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
    	
}
.container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 3rem;
  
}
.buttonCenter{
    display: flex;
    justify-content: center;
}
.button1{
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px 60px;
    color: white;
    background: #161616;
    border: none;
}
.item {
  min-width: 40vw;
  text-align: left;
}
.heading {
  font-size: 40pt;
  padding: 0.5rem;
  margin-left: 5%;
}
.content {
  font-size: 15pt;
  padding: 0.5rem;
  max-width: 70%;
  margin-left: 5%;
  font-weight: 200;
}
/* .content-image {
 
  /* padding: 14% 2%; */
 

.newContainer {
  
  padding-top: 5%;
  opacity: 0.99;
}
.navbar {
  display: flex;
  height: 5%;
  width: 70vw;
  align-items: center;
  margin: 0.5% 10%;
  justify-content: space-between;
}
.navItems {
  display: flex;
}
.logo {
  margin: 0 0;
}
.navitem {
  padding: 0 15%;
}
.b1 {
  font-size: 55pt;
  font-weight: 55;
  text-align: right;
  text-transform: uppercase;
  
}
.b2 {
  font-size: 82pt;
  font-weight: 800;
  text-align: right;
 
}
.b3 {
  font-size: 50pt;
  font-weight: 100;
  text-align: right;
 
}


@media (min-width: 1024px) {
  .container1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 0 3rem;
      
      
    }
  .item {
      min-width: 50vw;
      align-items: left;
  }
  .heading {
      font-size: 40pt;
      padding: 0.5rem;
      margin-left: 5%;
      
  }
  .tabText{
    font-size: 15pt;
    text-align: center;
}
  .content {
      font-size: 15pt;
      font-weight: 200;
      padding: 0.5rem;
      max-width: 90%;
      margin-left: 5%;
  }
  .content-image {
    /* position: fixed;
      width: 35vw;
      padding: 5% 2%;
      margin:'.5rem 2rem' */

      position:fixed;
      left:60%;
      top:20%;
      max-width:100vw;
      max-height:60vh;
      opacity: 1;
  }
  .mobileView{
    /* position: fixed;
    left:-3%;
    top:5%;
    max-width: 100vw;
    max-height:50vh;
    opacity: 0.4; */
    margin-right:10rem;
    margin-top:8rem;
}

  .newContainer {
      height: 100vh;
      padding-top: 4%;
      opacity: 0.99;
  }
  .navbar {
      display: flex;
      height: 5%;
      width: 70vw;
      align-items: center;
      margin: 0.5% 10%;
      justify-content: space-between;
  }

  .navItems {
      display: flex;
  }

  .logo {
      margin: 0 0;
  }

  .navitem {
      padding: 0 15%;
  }

  .supraHeading{
    margin-top: 5rem;
  }

  .TFtable {
    margin-bottom: 15px;
    width: 100%;
    font-family: Raleway, sans-serif;
    color: #fff;
    border: 1px solid #494949;
    border-top: none;
  }
  .TFtable th {
    padding: 15px;
    text-align: left;
    font-weight: 800;
    font-size: 15px;
    border-top: #505050 1px solid;
    border-left: #505050 1px solid;
  }
  .TFtable td {
    font-size: 15px;
    padding: 7px;
    border-top: #505050 1px solid;
    border-left: #505050 1px solid;
  }
  .TFtable td:first-child {
    border-left: none;
  }
  .TFtable th:first-child {
    border-left: none;
  }
  .TFtable tr:nth-child(even) {
    background: #222222
  }

  /* .b1 {
    font-family: 'Raleway' sans-serif;
      font-size: 55pt;
      font-weight: 55;
      text-align: right;
      text-transform: uppercase;
  }

  .b2 {
      font-size: 82pt;
      font-weight: 1000;
      text-align: right;
      
  }

  .b3 {
      font-size: 50pt;
      font-weight: 100;
      text-align: right;
      

} */
}

@media (max-width: 1024px) {

    .product{
        display: flex;
        flex-direction: column;
       /* align-items: center; */
       /* min-width: 70%; */
        /* justify-content: space-evenly; */
        /* margin: 3rem 1rem 1rem 5rem; */
    }

  .heading {
      font-size: 40pt;
      margin-left: 0%;
  }
  .b1 {
      font-size: 40pt;
      font-weight: bold;
      padding-top: 10%;
      text-align: right;
  }
  .b2 {
      font-size: 40pt;
      padding-top: 2%;
      text-align: right;
      font-weight: bold;
  }
  .b3 {
      font-size: 40pt;
      padding-top: 2%;
      text-align: right;
      font-weight: bold;
  }
  .navItems {
      font-size: 8pt;
  }
  .navitem {
      padding: 2%;
  }
  .content {
      margin: 5%;
  }
  .content-image {
      width: 90vw;
      height: 60vh;
      padding: 0%;
      padding-bottom: 5%;
  }
  .container1 {
      display: block;
      margin: 5%;
  }
  .newContainer {
      display: block;
  }
  .content {
      font-size: 20pt;
      padding: 0%;
      max-width: 90vw;
      margin: 0%;
  }
}

@media (max-width: 800px) {
  .heading {
      font-size: 40pt;
      margin-left: 0%;
  }
  .b1 {
      font-size: 40pt;
      font-weight: bold;
      padding-top: 10%;
      text-align: right;
  }
  .b2 {
      font-size: 40pt;
      padding-top: 2%;
      text-align: right;
      font-weight: bold;
  }
  .b3 {
      font-size: 40pt;
      padding-top: 2%;
      text-align: right;
      font-weight: bold;
  }
  .navItems {
      font-size: 8pt;
  }
  .navitem {
      padding: 2%;
  }
  .content {
      margin: 5%;
  }
  /* .content-image {
      width: 90vw;
      /* height: 60vh; */
      /* padding: 0%; */
      /* padding-bottom: 5%; */
   */
  .container1 {
      display: block;
      margin: 5%;
  }
  .newContainer {
      display: block;
  }
  .content {
      font-size: 20pt;
      padding: 0%;
      max-width: 90vw;
      margin: 0%;
  }

  .TFtable {
    margin-bottom: 15px;
    width: 100%;
    font-family: Raleway, sans-serif;
    color: #fff;
    border: 1px solid #494949;
    border-top: none;
  }
  .TFtable th {
    padding: 15px;
    text-align: left;
    font-weight: 800;
    font-size: 15px;
    border-top: #505050 1px solid;
    border-left: #505050 1px solid;
  }
  .TFtable td {
    font-size: 15px;
    padding: 7px;
    border-top: #505050 1px solid;
    border-left: #505050 1px solid;
  }
  .TFtable td:first-child {
    border-left: none;
  }
  .TFtable th:first-child {
    border-left: none;
  }
  .TFtable tr:nth-child(even) {
    background: #222222
  }
  .button1{
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20pt;
    padding: 10px 60px;
    color: white;
    background: #161616;
    border: none;
}
}
@media (max-width: 680px) and (orientation: portrait) {

    .product{
        display: flex;
        flex-direction: column;
          align-items: center;
   justify-content: center; 
    }


    .supra{
        display:flex;
        flex-direction: column;
         max-width:80vw;
        /* margin-left:-25rem; */
        margin-left: 0;
        font-size: 25px;
        font-weight: 600;
    
    }
    .supraHeading{
        margin-top: 8.5rem;
        font-size: 32px;
        min-width: 20rem;
        font-weight: 600;
      }

      .TFtable {
        margin-bottom: 15px;
        width: 100%;
        font-family: Raleway, sans-serif;
        color: #fff;
        border: 1px solid #494949;
        border-top: none;
      }
      .TFtable th {
        padding: 15px;
        text-align: left;
        font-weight: 800;
        font-size: 15px;
        border-top: #505050 1px solid;
        border-left: #505050 1px solid;
      }
      .TFtable td {
        font-size: 13px;
        padding: 7px;
        border-top: #505050 1px solid;
        border-left: #505050 1px solid;
      }
      .TFtable td:first-child {
        border-left: none;
      }
      .TFtable th:first-child {
        border-left: none;
      }
      .TFtable tr:nth-child(even) {
        background: #222222
      }
  .heading {
      font-size: xx-large;
      margin-left: 0%;
  }
  .b1 {
      font-size: 30pt;
      font-weight: bold;
      padding-top: 10%;
      text-align: right;
  }
  .b2 {
      font-size: 30pt;
      padding-top: 2%;
      text-align: right;
      font-weight: bold;
  }
  .b3 {
      font-size: 30pt;
      padding-top: 2%;
      text-align: right;
      font-weight: bold;
  }
  .navItems {
      font-size: 8pt;
  }
  .navitem {
      padding: 2%;
  }
  .content {
      margin: 5%;
  }
  .content-image {
      /* width: 90vw;
     position: fixed;
      padding: 0%;
      padding-bottom: 5%; */

      position: fixed;
      left:31%;
      top:38%;
      max-width: 34vw;
      max-height: 34vh;
      opacity: 0.4;
  }

.mobileView{
    position: fixed;
    left:-3%;
    top:5%;
    max-width: 100vw;
    max-height:50vh;
    opacity: 0.4;
  
}

  .container1 {
      display: block;
      margin: 5%;
  }
  .newContainer {
      display: block;
  }
  .button1{
    justify-content: center;
    margin-bottom: 20px;
    font-size: 10pt;
    padding: 10px 60px;
    color: white;
    background: #161616;
    border: none;
}
.textContent{
    display: flex;
    color: white;
    justify-content: center;
    padding-bottom: 5%;
    font-size: 10pt;
   
}
  .content {
      font-size: medium;
      padding: 0%;
      max-width: 90vw;
      margin: 0%;

  }
  .tabText{
    font-size: 10pt;
    text-align: center;
}
}
