body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: url(./backgroundImage.png) repeat fixed;
  color: white;

}

.skeleton {
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 2px;
  display: inline-block;
  line-height: 1;
  width: 100%;
  animation: skeleton 500ms ease-in-out infinite;

  @keyframes skeleton {
      0% {
          background-position: -200px 0;
      }

      100% {
          background-position: calc(200px + 100%) 0;
      }
  }
}
.textContent{
    display: flex;
    color: white;
    justify-content: center;
    padding-bottom: 2%;
    font-size: 15pt;
   
}

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

.footerContent{
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
    	
}
.container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 3rem;
}
.buttonCenter{
    display: flex;
    justify-content: center;
}
.button1{
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px 60px;
    color: white;
    background: #161616;
    border: none;
}
.item {
  min-width: 40vw;
}
.heading {
  font-size: 40pt;
  padding: 0.5rem;
  margin-left: 5%;
}
.content {
  font-size: 20pt;
  padding: 0.5rem;
  max-width: 70%;
  margin-left: 5%;
}
.content-image {
  height: 90vh;
  padding: 5% 2%;
}
.newContainer {
  height: 100vh;
  padding-top: 4%;
  opacity: 0.99;
}
.navbar {
  display: flex;
  height: 5%;
  width: 70vw;
  align-items: center;
  margin: 0.5% 10%;
  justify-content: space-between;
}
.navItems {
  display: flex;
}
.logo {
  margin: 0 0;
}
.navitem {
  padding: 0 15%;
}
.b1 {
  font-size: 92pt;
  font-weight: 100;
  text-align: right;
  padding: 0%;
  margin: 0%;
}
.b2 {
  font-size: 82pt;
  font-weight: 1000;
  text-align: right;
  padding: 0%;
  margin: 0%;
}
.b3 {
  font-size: 50pt;
  font-weight: 100;
  text-align: right;
  padding: 0%;
  margin: 0%;
}


@media (min-width: 1024px) {
  .container1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 0 3rem;
  }
  .item {
      min-width: 50vw;
  }
  .heading {
      font-size: 40pt;
      padding: 0.5rem;
      margin-left: 5%;
      
  }
  .tabText{
    font-size: 15pt;
    text-align: center;
}
  .content {
      font-size: 20pt;
      padding: 0.5rem;
      max-width: 90%;
      margin-left: 5%;
  }
  .content-image {
      height: 90vh;
      padding: 5% 2%;
  }

  .newContainer {
      height: 100vh;
      padding-top: 4%;
      opacity: 0.99;
  }
  .navbar {
      display: flex;
      height: 5%;
      width: 70vw;
      align-items: center;
      margin: 0.5% 10%;
      justify-content: space-between;
  }

  .navItems {
      display: flex;
  }

  .logo {
      margin: 0 0;
  }

  .navitem {
      padding: 0 15%;
  }

  .b1 {
      font-size: 92pt;
      font-weight: 100;
      text-align: right;
      padding: 0%;
      margin: 0%;
  }

  .b2 {
      font-size: 82pt;
      font-weight: 1000;
      text-align: right;
      padding: 0%;
      margin: 0%;
  }

  .b3 {
      font-size: 50pt;
      font-weight: 100;
      text-align: right;
      padding: 0%;
      margin: 0%;
  }

}


@media (max-width: 1024px) {
  .heading {
      font-size: 40pt;
      margin-left: 0%;
  }
  .b1 {
      font-size: 40pt;
      font-weight: bold;
      padding-top: 10%;
      text-align: right;
  }
  .b2 {
      font-size: 40pt;
      padding-top: 2%;
      text-align: right;
      font-weight: bold;
  }
  .b3 {
      font-size: 40pt;
      padding-top: 2%;
      text-align: right;
      font-weight: bold;
  }
  .navItems {
      font-size: 8pt;
  }
  .navitem {
      padding: 2%;
  }
  .content {
      margin: 5%;
  }
  .content-image {
      width: 90vw;
      height: 60vh;
      padding: 0%;
      padding-bottom: 5%;
  }
  .container1 {
      display: block;
      margin: 5%;
  }
  .newContainer {
      display: block;
  }
  .content {
      font-size: 20pt;
      padding: 0%;
      max-width: 90vw;
      margin: 0%;
  }
}

@media (max-width: 800px) {
  .heading {
      font-size: 40pt;
      margin-left: 0%;
  }
  .b1 {
      font-size: 40pt;
      font-weight: bold;
      padding-top: 10%;
      text-align: right;
  }
  .b2 {
      font-size: 40pt;
      padding-top: 2%;
      text-align: right;
      font-weight: bold;
  }
  .b3 {
      font-size: 40pt;
      padding-top: 2%;
      text-align: right;
      font-weight: bold;
  }
  .navItems {
      font-size: 8pt;
  }
  .navitem {
      padding: 2%;
  }
  .content {
      margin: 5%;
  }
  .content-image {
      width: 90vw;
      height: 60vh;
      padding: 0%;
      padding-bottom: 5%;
  }
  .container1 {
      display: block;
      margin: 5%;
  }
  .newContainer {
      display: block;
  }
  .content {
      font-size: 20pt;
      padding: 0%;
      max-width: 90vw;
      margin: 0%;
  }
  .button1{
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20pt;
    padding: 10px 60px;
    color: white;
    background: #161616;
    border: none;
}
}
@media (max-width: 680px) and (orientation: portrait) {
  .heading {
      font-size: xx-large;
      margin-left: 0%;
  }
  .b1 {
      font-size: 30pt;
      font-weight: bold;
      padding-top: 10%;
      text-align: right;
  }
  .b2 {
      font-size: 30pt;
      padding-top: 2%;
      text-align: right;
      font-weight: bold;
  }
  .b3 {
      font-size: 30pt;
      padding-top: 2%;
      text-align: right;
      font-weight: bold;
  }
  .navItems {
      font-size: 8pt;
  }
  .navitem {
      padding: 2%;
  }
  .content {
      margin: 5%;
  }
  .content-image {
      width: 90vw;
      height: 60vh;
      padding: 0%;
      padding-bottom: 5%;
  }
  .container1 {
      display: block;
      margin: 5%;
  }
  .newContainer {
      display: block;
  }
  .button1{
    justify-content: center;
    margin-bottom: 20px;
    font-size: 10pt;
    padding: 10px 60px;
    color: white;
    background: #161616;
    border: none;
}
.textContent{
    display: flex;
    color: white;
    justify-content: center;
    padding-bottom: 5%;
    font-size: 10pt;
   
}
  .content {
      font-size: medium;
      padding: 0%;
      max-width: 90vw;
      margin: 0%;

  }
  .tabText{
    font-size: 10pt;
    text-align: center;
}
}
